.e-49430f40
{
	display: block;
	width: 100%;
	height: 100%;
}

.e-49430f40 > .box
{
	display: flex;
	width: 100%;
	height: 100%;
	overflow: hidden;
}


.e-49430f40 > .box > .middle
{
	display: flex;
	flex-direction: column;
	flex: 1;
	min-width: 0;
}

.e-49430f40 > .box > .slot.left,
.e-49430f40 > .box > .slot.right
{
	display: flex;
	flex-shrink: 0;
}

.e-49430f40 > .box > .middle > .slot.top,
.e-49430f40 > .box > .middle > .slot.bottom
{
	display: flex;
	justify-content: center;
	flex-shrink: 0;
}

.e-49430f40 > .box > .middle > .slot.center
{
	position: relative;
	flex: 1;
	min-height: 0;
	overflow: hidden;
}

.e-49430f40 .slot > [class^="w-"],
.e-49430f40 .slot > [class*=" w-"]
{
	display: contents;
}
