/* ===== BREADCRUMB ===== */

.e-10ec4e5b
{
	display: block;
}

.e-10ec4e5b > .box
{
	display: flex;
	align-items: center;
	gap: var(--ot-spacing-x);
	font-size: var(--ot-size-s);
}

.e-10ec4e5b .crumb
{
	display: flex;
	align-items: center;
	gap: var(--ot-spacing-x);
}

.e-10ec4e5b .link
{
	color: var(--ot-text-3);
	transition: color var(--ot-transition-fast);
}

.e-10ec4e5b .link:hover
{
	color: var(--ot-text-1);
}

.e-10ec4e5b .current
{
	color: var(--ot-text-2);
}

.e-10ec4e5b .crumb > i
{
	color: var(--ot-text-3);
	font-size: 15px;
}
