/* ===== TERMINAL ===== */

.e-1d27a92
{
	display: flex;
	flex-direction: column;
	height: 100%;
}

.e-1d27a92 > .box
{
	display: flex;
	flex-direction: column;
	flex: 1;
	min-height: 0;
	font-family: ui-monospace, 'SF Mono', Menlo, monospace;
	font-size: var(--ot-size-s);
}
