/* ===== TERMINAL LOG ===== */

.e-77db0677
{
	display: flex;
	flex-direction: column;
	flex: 1;
	min-height: 0;
}

.e-77db0677 > .box
{
	flex: 1;
	min-height: 0;
	overflow: auto;
	padding: var(--ot-spacing-s) 0;
}

.e-77db0677 .empty
{
	padding: var(--ot-spacing-s) var(--ot-spacing-m);
	color: var(--ot-text-3);
}

.e-77db0677 .entry
{
	display: flex;
	align-items: center;
	gap: var(--ot-spacing-s);
	padding: 3px var(--ot-spacing-m);
}

.e-77db0677 .entry:hover
{
	background: var(--ot-bg-2-opacity);
}

.e-77db0677 .at
{
	flex-shrink: 0;
	color: var(--ot-text-3);
}

.e-77db0677 .code
{
	flex-shrink: 0;
	min-width: 28px;
	text-align: center;
}

.e-77db0677 .code.ok
{
	color: var(--ot-green);
}

.e-77db0677 .code.error
{
	color: var(--ot-red);
}

.e-77db0677 .command
{
	flex-shrink: 0;
	color: var(--ot-text-1);
}

.e-77db0677 .message
{
	flex: 1;
	color: var(--ot-text-2);
}

.e-77db0677 .time
{
	flex-shrink: 0;
	color: var(--ot-text-3);
}
