/* ===== APP SHELL ===== */

body
{
	background-color: var(--ot-bg-1);
	background-image: radial-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px);
	background-size: 24px 24px;
	background-position: -1px -1px;
}
