.e-7cfe358
{
	display: block;
	height: 100%;
	overflow-y: auto;
}

.e-7cfe358 > .box
{
	max-width: 980px;
	margin: 0 auto;
	padding: 72px var(--ot-spacing-l);
}

/* Hero */

.e-7cfe358 .hero
{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.e-7cfe358 .hero > .finder
{
	width: 100%;
	max-width: 560px;
}

/* Popular */

.e-7cfe358 .hero > .popular
{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--ot-spacing-s);
	margin-top: var(--ot-spacing-m);
}

/* Results */

.e-7cfe358 .blank
{
	max-width: 560px;
	margin: var(--ot-spacing-m) auto 0;
}

.e-7cfe358 .results
{
	max-width: 560px;
	margin: var(--ot-spacing-m) auto 0;
	border: 1px solid var(--ot-bg-2-border);
	border-radius: var(--ot-radius-l);
	overflow: hidden;
}

.e-7cfe358 .results > .result
{
	display: flex;
	align-items: center;
	gap: var(--ot-spacing-m);
	padding: var(--ot-spacing-s) var(--ot-spacing-m);
	cursor: pointer;
	transition: background var(--ot-transition-fast);
}

.e-7cfe358 .results > .result:hover
{
	background: var(--ot-bg-2);
}

.e-7cfe358 .results > .result:not(:last-child)
{
	border-bottom: 1px solid var(--ot-bg-2-border);
}

.e-7cfe358 .results > .result > i
{
	font-size: 16px;
	color: var(--ot-text-3);
}

.e-7cfe358 .results > .result > .title
{
	flex: 1;
	color: var(--ot-text-1);
}

.e-7cfe358 .results > .result > .category
{
	color: var(--ot-text-3);
	font-size: var(--ot-size-s);
}

.e-7cfe358 .results > .result > .go
{
	opacity: 0;
	transition: opacity var(--ot-transition-fast);
}

.e-7cfe358 .results > .result:hover > .go
{
	opacity: 1;
}

/* Sections */

.e-7cfe358 .sections
{
	display: flex;
	flex-direction: column;
	gap: var(--ot-spacing-l);
	margin-top: 56px;
}

.e-7cfe358 .sections > .modes
{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--ot-spacing-l);
}
